<!DOCTYPE HTML> 
  <html>
    <head>


  {% load static %}

      <title>

          {% block titulo %} {% endblock %}

      </title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}" title="miEjemplo" media="all" />

    </head>
<body>
<header>
  <h1>
      {% block tituloprincipal%} {% endblock %}
  </h1>
  <h2>
      {% block subtitulo %} {% endblock %}
  </h2>
</header>
<nav> 
  <p><a href="{% url 'Inicio' %}">Inicio</a></p>
  <p><a href="{% url 'Clientes' %}">Cientes</a></p>
  <p><a href="{% url 'Contacto' %}">Contacto</a></p>
  <p><a href="{% url 'Acerca_de' %}">Acerca de</a></p>
</nav>


<section>
  

  {% block cuerpo %} {% endblock %}
  

</section>

<aside>
   <div id="anuncio1">
      <h1>Espacio reservado para publicidad o noticias</h1>
      <h2>Anúnciate aquí lo que consideres</h2>
      <p>Da a conocer tu empresa o negocio en Internet anunciándote en 
      este espacio.<p>
      <p>Interesados llamar al telefono 000_000_000 ó 
      contactar en <a href="mailto: xyz@xyzmail.com">xyz@xyzmail.com</a></p>
    </div>
</aside>

<footer>
    
   <h1>Asignatura de 2º PSP parte Django</h1>
   <h2>Contacta con nosotros: email <a href="mailto:srodher115@g.educaand.es">PSP</a></h2>
   <br/>
</footer>
</body>
</html>
